{% include 'header.html' %}
    <!-- Start Main content -->
    <main class="bg-grey pb-30">
        <div class="container single-content">
            <div class="entry-header entry-header-style-1 mb-50 pt-50 text-center">
                <h1 class="entry-title mb-20 font-weight-900 ">
                    About Us
                </h1>
                <p class="text-muted"><span class="typewrite d-inline" data-period="2000" data-type='[ " All about empowering young writers ", " Because the pen is mightier than the sword " ]'></span></p>
            </div>
            <!--end single header-->
            <figure class="image mb-30 m-auto text-center border-radius-10">
                <img class="border-radius-10" src="https://images.unsplash.com/photo-1579820010410-c10411aaaa88?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1100&q=80" alt="post-title" />
            </figure>
            <!--figure-->
            <article class="entry-wraper">
                <p class="font-large">We are Marcian Blogs, a creative and dedicated pair of individuals who love web development almost as much as we love our customers.
                    We are passionate about our interests. This Blogging Service started as a University Project by Ankush Bhowmik and Geonwoo Roh. So far, it is Alpha,
                    and we're rolling it out to our close contacts, so that we can further improve and add features our users will find friendly and interesting.
                    All designs are made by love with pixel perfect design and excellent coding quality. Speed, security and SEO friendly always in our mind.</p>
                <hr class="wp-block-separator is-style-wide">
                <p><span class="mr-5">
                        <ion-icon name="location-outline" role="img" class="md hydrated" aria-label="location outline"></ion-icon>
                    </span><strong>Address</strong>: Guwahati, Assam (Ankush Bhowmik) & Seoul, South Korea (Geonwoo Roh)</p>
                <p><span class="mr-5">
                        <ion-icon name="home-outline" role="img" class="md hydrated" aria-label="home outline"></ion-icon>
                    </span><strong>Our website</strong>: <a href="https://ankushbhowmik.com">https://ankushbhowmik.com</a></p>
                <p><span class="mr-5">
                        <ion-icon name="planet-outline" role="img" class="md hydrated" aria-label="planet outline"></ion-icon>
                    </span><strong>Support center</strong>: We're a small team operating in University dorms; please mail to reach us.</p>
<!--                <h3 class="mt-30">Advertise</h3>-->
<!--                <hr class="wp-block-separator is-style-wide">-->
<!--                <p>Please contact us directly at ads@ultranews.com. For large or unique campaigns please email sale@ultranews.com for requests-for-proposal and additional pricing information. </p>-->
                {% if confirmation_msg %}
                <h1 class="mt-30">{{ confirmation_msg }}</h1>
                {% else %}
                <h1 class="mt-30">Get in touch</h1>
                {% endif %}
                <hr class="wp-block-separator is-style-wide">
                <form class="form-contact comment_form" id="commentForm" action="{{ url_for('about_us') }}" method="POST">
                    {{ form.csrf_token }}
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                {{ form.name(class="form-control", placeholder="Name") }}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                {{ form.phone(class="form-control", placeholder="Phone") }}
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                {{ form.email(class="form-control", placeholder="Email") }}
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                {{ form.message(class="form-control", placeholder="Message", rows="8") }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <button type="submit" class="button button-contactForm">Send message</button>
                    </div>
                </form>
            </article>
        </div>
        <!--container-->
    </main>
    <!-- End Main content -->
    <!--site-bottom-->

    <!--end site-bottom-->
{% include 'footer.html' %}