{% include 'header.html' %}
    <!-- Start Main content -->
    <main class="bg-grey pt-80 pb-50">
        <div class="container">
            <div class="row pt-80">
                <div class="col-lg-6 col-md-12 d-lg-block d-none pr-50"><img src="{{ url_for('static', filename='assets/imgs/theme/page-not-found.png') }}" alt=""></div>
                <div class="col-lg-6 col-md-12 pl-50 text-md-center text-lg-left">
                    <h1 class="mb-30 font-weight-900 page-404">403</h1>
                    <h2 class="mb-30 font-weight-900 page-404">Forbidden ⛔️</h2>
<!--                    <form action="#" method="get" class="search-form d-lg-flex open-search mb-30">-->
<!--                        <i class="icon-search"></i>-->
<!--                        <input class="form-control" name="name" id="name" type="text" placeholder="Search...">-->
<!--                    </form>-->
                    <p class="">You don't have the sufficient permissions to access the page at this URL. Perhaps you're not logged in.<br> Visit the <a href="{{ url_for('home') }}">Homepage</a> or <a href="{{ url_for('about_us') }}">Contact us</a> about the problem
                    </p>
                    <div class="form-group">
                        <button type="submit" class="button button-contactForm mt-30"><a class="text-white" href="{{ url_for('home') }}">Home page</a></button>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- End Main content -->
    <!-- Footer Start-->
    {% include 'footer.html' %}