{% include 'header.html' %}
    <!-- Start Main content -->
    <main>
        <div class="entry-header entry-header-style-2 pb-80 pt-80 mb-50 text-white" style="background-image: url(https://images.unsplash.com/photo-1551829142-d9b8cf2c9232?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1100&q=80)">
            <div class="container entry-header-content">
                <h1 class="entry-title mb-50 font-weight-900">
                    Welcome to Marcian Blogs
                </h1>
                <h2>Your one stop Destination for the Best of Content</h2>
            </div>
        </div><!--        Above line has no relation with the rest (was added by me additionally)-->
        <div class="container">
            <div class="hot-tags pt-30 pb-30 font-small align-self-center">
                <div class="widget-header-3">
                    <div class="row align-self-center">
                        <div class="col-md-4 align-self-center">
                            <h5 class="widget-title">Featured posts</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="loop-grid mb-30">
                <div class="row">
                    <div class="col-lg-8 mb-30">
                        <div class="carausel-post-1 hover-up border-radius-10 overflow-hidden transition-normal position-relative wow fadeInUp animated">
                            <div class="arrow-cover"></div>
                            <div class="slide-fade">
                                {% set carousel_feature_posts = all_posts[:3] %}
                                {% for carousel_post in carousel_feature_posts %}
                                    <div class="position-relative post-thumb">
                                        <div class="thumb-overlay img-hover-slide position-relative" style="background-image: url({{ carousel_post.img_url }})">
                                            <a class="img-link" href="{{ url_for('show_post', post_id=carousel_post.id) }}"></a>
                                            <span class="top-left-icon bg-warning"><i class="elegant-icon icon_star_alt"></i></span>
                                            <div class="post-content-overlay text-white ml-30 mr-30 pb-30">
                                                <div class="entry-meta meta-0 font-small mb-20">
                                                    <a href="{{ url_for('posts_by_category', cat_id=carousel_post.category.id) }}"><span class="post-cat text-info text-uppercase">{{ carousel_post.category.name }}</span></a>
    <!--                                                <a href="category.html"><span class="post-cat text-success text-uppercase">Animal</span></a>-->
                                                </div>
                                                <h3 class="post-title font-weight-900 mb-20">
                                                    <a class="text-white" href="{{ url_for('show_post', post_id=carousel_post.id) }}">{{ carousel_post.title }}</a>
                                                </h3>
                                                <div class="breadcrumb text-white">
                                                    {{ carousel_post.subtitle }}
                                                </div>
                                                <div class="entry-meta meta-1 font-small text-white mt-10 pr-5">
                                                    <span class="post-on">{{ carousel_post.date }}</span>
    <!--                                                <span class="hit-count has-dot">23k Views</span>-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    {% if all_posts[3] %}
<!--                    if block to check if post exists at that particular index, else index-error if index out of range-->
                        {% set right_feature_post = all_posts[3] %}
                        <article class="col-lg-4 col-md-6 mb-30 wow fadeInUp animated" data-wow-delay="0.2s">
                            <div class="post-card-1 border-radius-10 hover-up">
                                <div class="post-thumb thumb-overlay img-hover-slide position-relative" style="background-image: url({{ right_feature_post.img_url }})">
                                    <a class="img-link" href="{{ url_for('show_post', post_id=right_feature_post.id)}}"></a>
                                    <span class="top-right-icon bg-success"><i class="elegant-icon icon_camera_alt"></i></span>
    <!--                                <ul class="social-share">-->
    <!--                                    <li><a href="#"><i class="elegant-icon social_share"></i></a></li>-->
    <!--                                    <li><a class="fb" href="#" title="Share on Facebook" target="_blank"><i class="elegant-icon social_facebook"></i></a></li>-->
    <!--                                    <li><a class="tw" href="#" target="_blank" title="Tweet now"><i class="elegant-icon social_twitter"></i></a></li>-->
    <!--                                    <li><a class="pt" href="#" target="_blank" title="Pin it"><i class="elegant-icon social_pinterest"></i></a></li>-->
    <!--                                </ul>-->
                                </div>
                                <div class="post-content p-30">
                                    <div class="entry-meta meta-0 font-small mb-10">
                                        <a href="{{ url_for('posts_by_category', cat_id=right_feature_post.category.id) }}"><span class="post-cat text-info"> {{ right_feature_post.category.name }}</span></a>
    <!--                                    <a href="category.html"><span class="post-cat text-success">Food</span></a>-->
                                    </div>
                                    <div class="d-flex post-card-content">
                                        <h5 class="post-title mb-20 font-weight-900">
                                            <a href="{{ url_for('show_post', post_id=right_feature_post.id) }}">{{ right_feature_post.title }}</a>
                                        </h5>
                                        <div class="breadcrumb">
                                            {{ right_feature_post.subtitle }}
                                        </div>
                                        <div class="entry-meta meta-1 float-left font-x-small text-uppercase">
                                            <span class="post-on">{{ right_feature_post.date }}</span>
    <!--                                        <span class="time-reading has-dot">12 mins read</span>-->
    <!--                                        <span class="post-by has-dot">23k views</span>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                    {% endif %}

                    {% for post in all_posts %}
                        <article class="col-lg-4 col-md-6 mb-30 wow fadeInUp animated">
                            <div class="post-card-1 border-radius-10 hover-up">
                                <div class="post-thumb thumb-overlay img-hover-slide position-relative" style="background-image: url({{ post.img_url }})">
                                    <a class="img-link" href="{{ url_for('show_post', post_id=post.id) }}"></a>
    <!--                                <ul class="social-share">-->
    <!--                                    <li><a href="#"><i class="elegant-icon social_share"></i></a></li>-->
    <!--                                    <li><a class="fb" href="#" title="Share on Facebook" target="_blank"><i class="elegant-icon social_facebook"></i></a></li>-->
    <!--                                    <li><a class="tw" href="#" target="_blank" title="Tweet now"><i class="elegant-icon social_twitter"></i></a></li>-->
    <!--                                    <li><a class="pt" href="#" target="_blank" title="Pin it"><i class="elegant-icon social_pinterest"></i></a></li>-->
    <!--                                </ul>-->
                                </div>
                                <div class="post-content p-30">
                                    <div class="entry-meta meta-0 font-small mb-10">
                                        <a href="{{ url_for('posts_by_category', cat_id=post.category.id) }}"><span class="post-cat text-warning">{{ post.category.name }}</span></a>
                                    </div>
                                    <div class="d-flex post-card-content">
                                        <h5 class="post-title mb-20 font-weight-900">
                                            <a href="{{ url_for('show_post', post_id=post.id) }}">{{ post.title }}</a>
                                        </h5>
                                        <div class="breadcrumb">
                                            {{ post.subtitle }}
                                        </div>
                                        <div class="entry-meta meta-1 float-left font-x-small text-uppercase">
                                            <span class="post-on">{{ post.date }}</span>
    <!--                                        <span class="time-reading has-dot">8 mins read</span>-->
    <!--                                        <span class="post-by has-dot">12k views</span>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="bg-grey pt-50 pb-50">
            <div class="container">
                <div class="widget-header-1 position-relative mb-30">
                    <h5 class="mt-5 mb-30">Latest posts</h5>
                </div>
                <div class="row">
                    {% for blog_post in all_posts %}
                        <article class="col-lg-4 col-md-6 mb-30 wow fadeInUp  animated" style="visibility: visible; animation-name: fadeInUp;">
                            <div class="post-card-1 border-radius-10 hover-up">
                                <div class="post-thumb thumb-overlay img-hover-slide position-relative" style="background-image: url({{ blog_post.img_url }})">
                                    <a class="img-link" href="{{ url_for('show_post', post_id=blog_post.id)}}"></a>
    <!--                                <ul class="social-share">-->
    <!--                                    <li><a href="#"><i class="elegant-icon social_share"></i></a></li>-->
    <!--                                    <li><a class="fb" href="#" title="Share on Facebook" target="_blank"><i class="elegant-icon social_facebook"></i></a></li>-->
    <!--                                    <li><a class="tw" href="#" target="_blank" title="Tweet now"><i class="elegant-icon social_twitter"></i></a></li>-->
    <!--                                    <li><a class="pt" href="#" target="_blank" title="Pin it"><i class="elegant-icon social_pinterest"></i></a></li>-->
    <!--                                </ul>-->
                                </div>
                                <div class="post-content p-30">
                                    <div class="entry-meta meta-0 font-small mb-10">
                                        <a href="{{ url_for('posts_by_category', cat_id=blog_post.category.id) }}"><span class="post-cat text-warning">{{ blog_post.category.name }}</span></a>
                                    </div>
                                    <div class="d-flex post-card-content">
                                        <h5 class="post-title mb-20 font-weight-900">
                                            <a href="{{ url_for('show_post', post_id=blog_post.id) }}">{{ blog_post.title }}</a>
                                        </h5>
                                        <div class="breadcrumb">
                                            {{ blog_post.subtitle }}
                                        </div>
                                        <div class="entry-meta meta-1 float-left font-x-small text-uppercase">
                                            <span class="post-on">{{ blog_post.date }}</span>
    <!--                                        <span class="time-reading has-dot">8 mins read</span>-->
    <!--                                        <span class="post-by has-dot">12k views</span>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                    {% endfor %}
                </div>
            </div>
        </div>
    </main>
<!--    &lt;!&ndash; End Main content &ndash;&gt;-->
<!--    &lt;!&ndash;site-bottom&ndash;&gt;-->
<!--    <div class="site-bottom pt-50 pb-50">-->
<!--        <div class="container">-->
<!--            <div class="row">-->
<!--                <div class="col-lg-4 col-md-6">-->
<!--                    <div class="sidebar-widget widget-latest-posts mb-30 wow fadeInUp animated">-->
<!--                        <div class="widget-header-2 position-relative mb-30">-->
<!--                            <h5 class="mt-5 mb-30">Travel</h5>-->
<!--                        </div>-->
<!--                        <div class="post-block-list post-module-1">-->
<!--                            <ul class="list-post">-->
<!--                                {% for post in all_travel_posts %}-->
<!--                                    <li class="mb-30">-->
<!--                                        <div class="d-flex hover-up-2 transition-normal">-->
<!--                                            <div class="post-thumb post-thumb-80 d-flex mr-15 border-radius-5 img-hover-scale overflow-hidden">-->
<!--                                                <a class="color-white" href="{{ url_for('show_post', post_id=post.id) }}">-->
<!--                                                    <img src="{{ post.img_url }}" alt="">-->
<!--                                                </a>-->
<!--                                            </div>-->
<!--                                            <div class="post-content media-body">-->
<!--                                                <h6 class="post-title mb-15 text-limit-2-row font-medium"><a href="single.html">{{ post.title }}</a></h6>-->
<!--                                                <div class="entry-meta meta-1 float-left font-x-small text-uppercase">-->
<!--                                                    <span class="post-on">{{ post.date }}</span>-->
<!--    &lt;!&ndash;                                                <span class="post-by has-dot">13k views</span>&ndash;&gt;-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </li>-->
<!--                                {% endfor %}-->
<!--                            </ul>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-lg-4 col-md-6">-->
<!--                    <div class="sidebar-widget widget-latest-posts mb-30 wow fadeInUp animated" data-wow-delay="0.2s">-->
<!--                        <div class="widget-header-2 position-relative mb-30">-->
<!--                            <h5 class="mt-5 mb-30">Art</h5>-->
<!--                        </div>-->
<!--                        <div class="post-block-list post-module-1">-->
<!--                            <ul class="list-post">-->
<!--                                <li class="mb-30">-->
<!--                                    <div class="d-flex hover-up-2 transition-normal">-->
<!--                                        <div class="post-thumb post-thumb-80 d-flex mr-15 border-radius-5 img-hover-scale overflow-hidden">-->
<!--                                            <a class="color-white" href="single.html">-->
<!--                                                <img src="http://via.placeholder.com/500x500" alt="">-->
<!--                                            </a>-->
<!--                                        </div>-->
<!--                                        <div class="post-content media-body">-->
<!--                                            <h6 class="post-title mb-15 text-limit-2-row font-medium"><a href="single.html">10 Ways to De-Stress Your Day Hour by Hour</a></h6>-->
<!--                                            <div class="entry-meta meta-1 float-left font-x-small text-uppercase">-->
<!--                                                <span class="post-on">12 August</span>-->
<!--                                                <span class="post-by has-dot">3k views</span>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </li>-->
<!--                                <li class="mb-30">-->
<!--                                    <div class="d-flex hover-up-2 transition-normal">-->
<!--                                        <div class="post-thumb post-thumb-80 d-flex mr-15 border-radius-5 img-hover-scale overflow-hidden">-->
<!--                                            <a class="color-white" href="single.html">-->
<!--                                                <img src="http://via.placeholder.com/500x500" alt="">-->
<!--                                            </a>-->
<!--                                        </div>-->
<!--                                        <div class="post-content media-body">-->
<!--                                            <h6 class="post-title mb-15 text-limit-2-row font-medium"><a href="single.html">134 Free Weekly Meal Planner Printable</a></h6>-->
<!--                                            <div class="entry-meta meta-1 float-left font-x-small text-uppercase">-->
<!--                                                <span class="post-on">15 August</span>-->
<!--                                                <span class="post-by has-dot">4.1k views</span>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </li>-->
<!--                                <li class="mb-30">-->
<!--                                    <div class="d-flex hover-up-2 transition-normal">-->
<!--                                        <div class="post-thumb post-thumb-80 d-flex mr-15 border-radius-5 img-hover-scale overflow-hidden">-->
<!--                                            <a class="color-white" href="single.html">-->
<!--                                                <img src="http://via.placeholder.com/500x500" alt="">-->
<!--                                            </a>-->
<!--                                        </div>-->
<!--                                        <div class="post-content media-body">-->
<!--                                            <h6 class="post-title mb-15 text-limit-2-row font-medium"><a href="single.html">Free Printable Stickers for Your Bullet Journal</a></h6>-->
<!--                                            <div class="entry-meta meta-1 float-left font-x-small text-uppercase">-->
<!--                                                <span class="post-on">16 August</span>-->
<!--                                                <span class="post-by has-dot">2.2k views</span>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </li>-->
<!--                            </ul>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-lg-4">-->
<!--                    <div class="sidebar-widget widget-latest-posts mb-30 wow fadeInUp animated" data-wow-delay="0.4s">-->
<!--                        <div class="widget-header-2 position-relative mb-30">-->
<!--                            <h5 class="mt-5 mb-30">Photography</h5>-->
<!--                        </div>-->
<!--                        <div class="post-block-list post-module-1">-->
<!--                            <ul class="list-post">-->
<!--                                <li class="mb-30">-->
<!--                                    <div class="d-flex hover-up-2 transition-normal">-->
<!--                                        <div class="post-thumb post-thumb-80 d-flex mr-15 border-radius-5 img-hover-scale overflow-hidden">-->
<!--                                            <a class="color-white" href="single.html">-->
<!--                                                <img src="http://via.placeholder.com/500x500" alt="">-->
<!--                                            </a>-->
<!--                                        </div>-->
<!--                                        <div class="post-content media-body">-->
<!--                                            <h6 class="post-title mb-15 text-limit-2-row font-medium"><a href="single.html">Which TBA Preset Pack is Right For You?</a></h6>-->
<!--                                            <div class="entry-meta meta-1 float-left font-x-small text-uppercase">-->
<!--                                                <span class="post-on">06 May</span>-->
<!--                                                <span class="post-by has-dot">23k views</span>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </li>-->
<!--                                <li class="mb-30">-->
<!--                                    <div class="d-flex hover-up-2 transition-normal">-->
<!--                                        <div class="post-thumb post-thumb-80 d-flex mr-15 border-radius-5 img-hover-scale overflow-hidden">-->
<!--                                            <a class="color-white" href="single.html">-->
<!--                                                <img src="http://via.placeholder.com/500x500" alt="">-->
<!--                                            </a>-->
<!--                                        </div>-->
<!--                                        <div class="post-content media-body">-->
<!--                                            <h6 class="post-title mb-15 text-limit-2-row font-medium"><a href="single.html">How to Get Amazing Photos at the Pyramids of Giza</a></h6>-->
<!--                                            <div class="entry-meta meta-1 float-left font-x-small text-uppercase">-->
<!--                                                <span class="post-on">05 Jun</span>-->
<!--                                                <span class="post-by has-dot">5k views</span>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </li>-->
<!--                                <li class="mb-30">-->
<!--                                    <div class="d-flex hover-up-2 transition-normal">-->
<!--                                        <div class="post-thumb post-thumb-80 d-flex mr-15 border-radius-5 img-hover-scale overflow-hidden">-->
<!--                                            <a class="color-white" href="single.html">-->
<!--                                                <img src="http://via.placeholder.com/500x500" alt="">-->
<!--                                            </a>-->
<!--                                        </div>-->
<!--                                        <div class="post-content media-body">-->
<!--                                            <h6 class="post-title mb-15 text-limit-2-row font-medium"><a href="single.html">Beginner’s Guide to Travel Drone Photography</a></h6>-->
<!--                                            <div class="entry-meta meta-1 float-left font-x-small text-uppercase">-->
<!--                                                <span class="post-on">08 August</span>-->
<!--                                                <span class="post-by has-dot">2k views</span>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </li>-->
<!--                            </ul>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!--        </div>-->
<!--        &lt;!&ndash;container&ndash;&gt;-->
<!--    </div>-->
<!--    &lt;!&ndash;end site-bottom&ndash;&gt;-->
{% include 'footer.html' %}