{% include 'header.html' %}
    <!-- Start Main content -->
    <main>
        <!--archive header-->
        <div class="archive-header pt-50 text-center pb-50">
            <div class="container">
                <h2 class="font-weight-900">{{ category.name }}</h2>
                <div class="breadcrumb">
                    <a href="{{ url_for('home') }}" rel="nofollow">Home</a>
                    <span></span> {{ category.name }}
                </div>
            </div>
        </div>
        <div class="container">
            <!--Loop Masonry-->

            <div class="grid row mb-30" style="position: relative; height: 1659.4px;">
                <div class="grid-sizer"></div>
                {% if category.posts.__len__() == 0 %}
                    <div class="text-center mb-15">
                        <h3 class="font-large">Sorry! No posts in this category yet</h3>
                    </div>
                {% else %}
                    {% for post in category.posts %}
                        <article class="grid-item col pb-50 wow fadeIn  animated" style="visibility: visible; animation-name: fadeIn; position: absolute; left: 0%; top: 0px;">
                            <div class="post-card-1 border-radius-10 hover-up">
                                <div class="post-thumb thumb-overlay img-hover-slide position-relative" style="background-image: url({{ post.img_url }})">
                                    <a class="img-link" href="{{ url_for('show_post', post_id=post.id) }}"></a>
        <!--                            <span class="top-right-icon bg-success"><i class="elegant-icon icon_camera_alt"></i></span>-->
        <!--                            <ul class="social-share">-->
        <!--                                <li><a href="#"><i class="elegant-icon social_share"></i></a></li>-->
        <!--                                <li><a class="fb" href="#" title="Share on Facebook" target="_blank"><i class="elegant-icon social_facebook"></i></a></li>-->
        <!--                                <li><a class="tw" href="#" target="_blank" title="Tweet now"><i class="elegant-icon social_twitter"></i></a></li>-->
        <!--                                <li><a class="pt" href="#" target="_blank" title="Pin it"><i class="elegant-icon social_pinterest"></i></a></li>-->
        <!--                            </ul>-->
                                </div>
                                <div class="post-content p-30">
    <!--                                <div class="entry-meta meta-0 font-small mb-10">-->
    <!--                                    <a href="category.html"><span class="post-cat text-info">{{ post.category.name }}</span></a>-->
    <!--    &lt;!&ndash;                                <a href="category.html"><span class="post-cat text-success">Food</span></a>&ndash;&gt;-->
    <!--                                </div>-->
                                    <div class="d-flex post-card-content">
                                        <h5 class="post-title mb-20 font-weight-900">
                                            <a href="{{ url_for('show_post', post_id=post.id) }}">{{ post.title }}</a>
                                        </h5>
                                        <div class="breadcrumb">
                                            {{ post.subtitle }}
                                        </div>
                                        <div class="entry-meta meta-1 float-left font-x-small text-uppercase">
                                            <span class="post-on">{{ post.date }}</span>
        <!--                                    <span class="time-reading has-dot">12 mins read</span>-->
        <!--                                    <span class="post-by has-dot">23k views</span>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </main>
    <!-- End Main content -->
    <!--site-bottom-->

    <!--end site-bottom-->
{% extends 'footer.html' %}
{% block vendorjs %}
    {{ super() }}
    <script src="{{url_for('static', filename='assets/js/vendor/imagesloaded.pkgd.min.js')}}"></script>
    <script src="{{url_for('static', filename='assets/js/vendor/masonry.pkgd.min.js')}}"></script>
    <!-- Main JS -->
    <script src="{{url_for('static', filename='assets/js/main.js')}}"></script>
{% endblock %}

{% block storiesjs %}
    <!-- Nothing here, so that super() stories gets overwritten and eliminated-->
{% endblock %}
